
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492222554489'); /* IE9*/
  src: url('iconfont.eot?t=1492222554489#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492222554489') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492222554489') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492222554489#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before { content: "\3460"; }

.icon-dianhua:before { content: "\f0032"; }

.icon-xiangji:before { content: "\f0058"; }

.icon-uploading:before { content: "\e61f"; }

.icon-shanchu:before { content: "\e636"; }

.icon-shanchu1:before { content: "\e6a5"; }

.icon-shanchu2:before { content: "\e6b0"; }

.icon-xiangji1:before { content: "\e663"; }

.icon-icon:before { content: "\e628"; }

.icon-upload:before { content: "\e618"; }

.icon-dpc51:before { content: "\e60c"; }

.icon-xiaolian:before { content: "\e655"; }

.icon-unif026:before { content: "\e62b"; }

.icon-xiangji2:before { content: "\e6b7"; }

.icon-zuopinji:before { content: "\e69c"; }

.icon-moxingzuopin:before { content: "\e7af"; }

.icon-huatong:before { content: "\e60e"; }

.icon-wenjian:before { content: "\e65e"; }

.icon-yangtai:before { content: "\e607"; }

.icon-touxiang:before { content: "\e6a0"; }

